[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PLFD"]
	path = PLFD
	url = https://github.com/paradoxical-rhapsody/plfd
[submodule "PPSFS"]
	path = PPSFS
	url = https://github.com/paradoxical-rhapsody/ppsfs
